<!-- Render flash notice if present -->
<% if flash[:notice] -%>
<div class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <%= flash[:notice] %>
</div>
<% end %>
<!-- Render flash error if present -->
<% if flash[:error] -%>
<div class="alert alert-warning alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <%= flash[:error] %>
</div>
<% end %>
