<% if target && target.errors.any? %>
  <!-- display errors -->
  <div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <h4><%= pluralize(target.errors.count, "error") %> prohibited this record from being saved:</h4>
    <ul>  
      <% target.errors.full_messages.each do |msg| %>  
        <li><%= msg %></li>  
      <% end %>  
    </ul> 
  </div>
<% end -%>