<div class="page-header">
  <h3>New Contact</h3>
</div>

<%= render :partial => "shared/validation_errors", :locals => {:target => @contact} %>

<%= form_for @contact, :html => { :role => 'form' } do |f| %>
  <%= render :partial => 'form', :locals => { :f => f, :submit_text => 'Create Contact', :cancel_link => contacts_path } %>
<% end %>