.btn-transborder {
	border-color: transparent;

	&:hover {
		border-color: transparent;
	}

	&:active,
	&.active {
		border-color: transparent;
		box-shadow: none;
	}

	&:active:hover,
	&:active:focus,
	&.active.focus {
		border-color: transparent;
	}
}

.btn-file {
  	position: relative;
  	overflow: hidden;
}

.btn-file input[type=file] {
  	position: absolute;
  	top: 0;
  	right: 0;
  	min-width: 100%;
  	min-height: 100%;
  	font-size: 100px;
  	text-align: right;
  	filter: alpha(opacity=0);
  	opacity: 0;
  	background: red;
  	cursor: inherit;
  	display: block;
}